# GME credentials
GME_USERNAME=your_gme_username_here
GME_PASSWORD=your_gme_password_here
GME_BASE_URL=https://api.mercatoelettrico.org/request

# Local dataset paths
PUN_CSV_PATH=DAM_PRICES/PUN_dataset_final.csv
NORD_CSV_PATH=DAM_PRICES/NORD_dataset_final.csv

#Optimo upload
UPLOAD_TO_OPTIMO=false

# Timezone
LOCAL_TIMEZONE=Europe/Rome